
* {
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: 500;
  font-size: 1.5em;
}
/* Header */
.navigation {
  width: 100%;
  color:#d7d5d5;
  display: flex;
  align-items: center;
  padding-top: 10px;
  position: fixed;
  z-index: 9;
}

.navigation__black {
  background-color:#111;
  height: 70px;
}

.logo-icon img {
  width: 100px;
  height: 30px;
  margin: 10px 0 0 50px;
}

.navigation-manu {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;

}

.nav-manu {
  padding-left: 30px;
  cursor: pointer;
}

.avatar-icon {
  width: 40px;
  border-radius: 3px;
  cursor: pointer;
}

.navigation-icon {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 50px;
}

.nav-icon {
  padding-left: 30px;
  cursor: pointer;
}

/* Title */ 
.title-box {
  color: #fff;
  background-image: url(./images/AAAABSCWf3zKnEOxc8YY1hOJb6wjbhdMZxZl5v9xXkd6HlsqNJKs76UunpfiSwZHAEVAysaxaQGTIGCjEJ9Iu3VavyF30G2N-lDlhH_z.webp);
  background-position: 50%;
  background-size: cover;
  height: 700px;
  object-fit: cover;
}

.title {
  margin-left: 30px;
  padding-top: 180px;
  height: 190px;
}

.tltle-img {
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
  
}

.title-text {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  text-shadow: 2px 2px 4px rgba(0,0,0,.45);
  width: 500px;
  margin-left: 30px;
}

.title-btn {
  height: 130px;
  margin-left: 30px;
  margin-top: 30px;
}

.title-btn-white {
  cursor: pointer;
  color:black;
  background-color: #fff;
  width: 140px;
  height: 50px;
  font-size: 22px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}
.title-btn-white:hover {
  background-color: #bfbfbf;
}

.title-btn-gray {
  cursor: pointer;
  color:white;
  background-color: #4d4d4d;
  width: 170px;
  height: 50px;
  font-size: 22px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.title-btn-gray:hover {
  background-color: #2c2c2c;
}

/* Movie card */
.movie {
  color:#D8D8D8 ;
  margin-left:20px ;
  margin-top: 20px;
}
.movie h3 {
  margin-left: 30px;
}

.movie-card {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.movie-card::-webkit-scrollbar {
  display: none;
}

.card {
  width: 100%;
  object-fit: contain;
  max-width: 17vw;
  min-width: 17vw;
  margin-right: 10px;
  transition: 0.5s;
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.2);
}

/* Footer */

.footer-box {
  display: grid;
  align-items:center ;
  margin: 20px auto 0;
  max-width: 980px;
} 
.footer-icon {
  color: #e5e5e5;
}
.footer-icon span {
  padding:30px 18px 5px 5px;
  box-sizing: border-box;
}
.footer-list {
  
  display: grid;
  grid-template-rows:repeat(3,1fr);
  grid-template-columns:repeat(4,1fr) ;
  
}
.ft-list {
  color: #808080;
  font-size: 14px;
  padding: 10px 10px 10px 0;
}
.ft-text {
  color: #808080;
  font-size: 11px;
  line-height: 25px;
  padding-bottom: 30px;
}